* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.header {
    text-align: center;
    height: 100vh;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(
            'https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'
        );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__container {
    align-self: center;
    padding: 32px;
    background-color: rgba(165, 165, 165, .75);
    border-radius: 5px;
    width: 250px;
}

.header__title {
    margin: 0 0 20px 0;
    color: white;
}

.header__form__input {
    padding: 10px;
    height: 36px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.header__form__btn {
    margin-top: 20px;
    width: 100%;

}

.header__btn {
    color: white;
    background-color: #fc6950;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.header__btn-container {
    justify-content: center;
    flex-direction: column;
}

.header__btn__input, .header__form {
    height: auto;
    margin: 20px 0 20px 0;
}

.header__btn:hover {
    cursor: pointer;
    background-color: #e05d47;
}

.main-content--set-height {
    min-height: 100vh;
}

.search-results__list {
    padding: 0;
    margin: 0;
}

.search-results__list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #d8d8d867;
    padding: 10px;
}

.hover-styles {
    background-color: #ededed;
}

.search-results__list-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-results__list-item__btn {
    color: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 5px;
    margin-top: 5px;
    background-color: #fc6950;

}

.search-results__list-item__info p {
    color: grey;
}

.search-results__list-item__info h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.fa-star {
    color: #fc6950;
    margin: 0 5px;
}

#map {
    height: 300px;
}

.main-content__map {
    position: sticky;
    top: 0;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
}

@media only screen and (min-width: 800px) {
    .header__container {
        width: 400px;
    }

    #map {
        height: 100vh;
        width: 66%;
        float: right;
    }

    .search-results__list {
        width: 34%;
    }
}