.header {
    text-align: center;
}

.main-content {
    width: 66%;
    margin: 20px auto;
}

.search-results__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.search-results__list-item {
    height: auto;
    width: 100%;
    list-style: none;
    border: 1px solid black;
    margin: 10px;
}

.search-results__list-item__img {
    float: right;
}

#map {
    height: 300px;
}

.hidden {
    display: none;
}